Django<1.4
Pillow
tiffany
South<0.8
django-extensions==0.6
django-grappelli<2.4
psycopg2
wsgiref==0.1.2
werkzeug
reportlab
-e http://pkgs.fedoraproject.org/repo/pkgs/python-trml2pdf/trml2pdf-1.2.tar.gz/d04ef352401b9b5f8f862d165edee012/trml2pdf-1.2.tar.gz#egg=TRML2PDF-1.0